hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

.post-tags {
    font-size: 0.6em;
    color: #666;
    font-weight: normal;
}

.post-tags .tag {
    font-style: italic;
}

.rss-subscribe {
  display: none;
}

.footer-heading {
  display: none;
}

.content-container {
  background-color: #0B1215;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 30px;
  color: #F8F8F8;
}

.content-container p {
  margin-bottom: 5px;
}

blockquote {
  background-color: rgb(255, 205, 0);
  color: #000000;
  padding: 30px;
  margin: 30px 0;
  border-radius: 20px;  
  font-family: Georgia, serif;
  border-left: none;
}

blockquote p {
  margin: 0 !important;
  line-height: 1.4;
}

/* Style for the main quote text */
blockquote p:first-child {
  font-style: normal;
}

/* Style for the attribution line */
blockquote p:last-child {
  margin-top: 14px !important;
  font-style: normal;
}

/* Style specifically for the book/source title */
blockquote p:last-child em {
  font-style: italic;
}

/* Media Grid Styles */
.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  background-color: #0B1215;  /* Matching your existing dark theme */
  border-radius: 20px;
  padding: 20px;
}

.media-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;  /* Set a fixed container height */
}

.media-item img {
  width: auto;
  max-width: 200px;
  height: 300px;  /* Set a fixed height for all images */
  object-fit: contain;  /* Changed from 'cover' to 'contain' to prevent cropping */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  transition: transform 0.2s;
}

.media-item img:hover {
  transform: scale(1.02);
}

.media-title {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  color: #F8F8F8;
  font-weight: bold;
  font-style: italic;
  line-height: 1.2em;
}

.media-attribution {
  font-size: 0.8rem;
  color: #F8F8F8;  
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.media-notes {
  font-size: 0.8rem;
  color: #BBB;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
}

.media-notes a {
  color: #BBB;
  text-decoration: underline;
}